/****** css reset ******/
*,div,p,ul{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    background: #f1f1f1;
    direction: rtl;
}

/*** footer **/
.footer{
    float: right;
    width: 100%;
    height: auto;
    background: -webkit-linear-gradient(left,#a445b2,#fa4299);
}
.footermnu{
    float: right;
    width: 100%;
    height: auto;
}
.footermnu ul li{
    float: right;
    padding: 10px;
    margin: 5px;
}
.footermnu ul li:hover{
    padding-right: 15px;
}
.socialpage{
    float: right;
    width: 100%;
    height: auto;
}
.socialpage ul{
    margin: 0 1%;
}
.socialpage ul li{
    margin: 5px;
}
.socialpage ul li a{
    float: right;
    padding:5px 10px 2px;
    font-size: 25px;
}
.socialpage ul li{
    background: #95a5a6;
}
.socialpage ul li:nth-child(1):hover{background: #2980b9;}
.socialpage ul li:nth-child(2):hover{background: #e67e22;}
.socialpage ul li:nth-child(3):hover{background: #3498db;}
.socialpage ul li:nth-child(4):hover{background: #e74c3c;}
.footer p{
    float: right;
    margin: 20px 1% 0;
}
/*** readmore ***/
.rm-big-content{
    float: right;
    width: 95%;
    min-height: 500px;
    height: auto;
    background: #34495e;
    margin: 10px 2.5%;
}
.rm-big-content-thumb{
    float: right;
    width: 45%;
    height: 480px;
    background: #2c3e50;
    margin: 10px 1% 10px 0;
}
.rm-big-content-thumb img{
    float: right;
    width: 98%;
    height: 98%;
    margin: 1%;
}
.rm-big-content-txt{
    float: left;
    width: 50%;
    height: auto;
    margin: 10px 0px 10px 2.5%;
}
.rm-big-content-txt a{
    float: right;
    width: 100%;
    padding: 10px;
    background: #2c3e50;
}
.rm-big-content-txt p{
    float: right;
    width: 98%;
    height: auto;
    margin: 0 1%;
    text-align: justify;
    font-size: 13px;
}